.td-content-page {
    background-color: #D8D8D8;
}

.detail-bg {
    background-image: url(https://hksb9c2p4.cloudcdnetw.com/b9v1/images/Background.png);
}

.detail-container {
    box-shadow: none;
}